<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head');%>
  </head>

  <body>
    <h1><%-include('../partials/back')%><%=dish.name%></h1>
    <img src="/images/<%=dish.img%>" alt="" />
    <h2><%=dish.name%></h2>
    <p class="qualityText">Quality: <%=dish.quality%></p>
    <h3 class="h3dishDetails">Ingredients</h3>
    <!-- to show the array as an ul > li, I need a for loop -->
    <p><%=dish.ingredients%></p>
    <h3 class="h3dishDetails">Tags</h3>
    <!--first try with a p, but the array needs to be put into an ul > (times the dishIngredient) li -->
    <p><%=dish.tags%></p>
  </body>
</html>
