<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head');%>
  </head>

  <body>
    <h1><%-include('../partials/back')%><%=dish.name%></h1>
    <img src="/images/<%=dish.img%>" alt="" />
    <h2><%=dish.name%></h2>
    <p class="qualityText">Quality: <%=dish.quality%></p>
    <h3 class="h3dishDetails">Ingredients</h3>
    <!--source: https://stackoverflow.com/questions/56600633/displaying-arrays-in-a-list-with-ejs-->
    <ul>
      <%(dish.ingredients).forEach(function(item,index){%>
      <li><%=item%></li>
      <%})%>
    </ul>
    <h3 class="h3dishDetails">Tags</h3>
    <!--source: https://stackoverflow.com/questions/56600633/displaying-arrays-in-a-list-with-ejs-->
    <ul>
      <%(dish.tags).forEach(function(item,index){%>
      <li><%=item%></li>
      <%})%>
    </ul>
    <div class="editButtons">
      <a href="/dish/<%=dish._id%>/edit" class="primaryButton">Edit</a>
      <a href="/" class="deleteButton">Delete</a>
    </div>
  </body>
</html>
